<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="aarm">


    <gazebo>
        <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so">
            <parameters>/home/imbatman/arm_ws/src/aarm/config/controllers.yaml</parameters>
            <robot_namespace>/aarm</robot_namespace>
        </plugin>
    </gazebo>
    <gazebo>
        <plugin name="mimic_joint_plugin" filename="libgazebo_mimic_joint_plugin.so">
            <joint>left_gripper_arm_joint</joint>
            <mimicJoint>right_gripper_arm_joint</mimicJoint>
            <multiplier>1.0</multiplier>
            <offset>0.0</offset>
            <sensitiveness>0.0</sensitiveness>
            <maxEffort>2.0</maxEffort>
            <hasPID />
        </plugin>
    </gazebo>

    
    <gazebo reference="aarm_base_link">
        <material>Gazebo/Grey</material>
    </gazebo>
    <gazebo reference="link_1">
        <material>Gazebo/Blue</material>
    </gazebo>
    <gazebo reference="link_2">
        <material>Gazebo/Blue</material>
    </gazebo>
    <gazebo reference="link_3">
        <material>Gazebo/Blue</material>
    </gazebo>
    <gazebo reference="link_4">
        <material>Gazebo/Blue</material>
    </gazebo>
    <gazebo reference="link_5">
        <material>Gazebo/White</material>
    </gazebo>
    <gazebo reference="end_effector">
        <material>Gazebo/Blue</material>
    </gazebo>
    <gazebo reference="gripper_base">
        <material>Gazebo/Grey</material>
    </gazebo>
    <gazebo reference="left_gripper_arm">
        <material>Gazebo/White</material>
    </gazebo>
    <gazebo reference="left_tip">
        <material>Gazebo/Black</material>
    </gazebo>
    <gazebo reference="right_gripper_arm">
        <material>Gazebo/White</material>
    </gazebo>
    <gazebo reference="right_tip">
        <material>Gazebo/Black</material>
    </gazebo>


    <gazebo reference="joint_1">
        <kp>10000.0</kp>  
        <kd>100.0</kd>   
        <ki>0.0</ki>    
    </gazebo>
    <gazebo reference="joint_2">
        <kp>10000.0</kp>  
        <kd>100.0</kd>   
        <ki>0.0</ki>    
    </gazebo>
    <gazebo reference="joint_3">
        <kp>10000.0</kp>  
        <kd>100.0</kd>   
        <ki>0.0</ki>    
    </gazebo>
    <gazebo reference="joint_4">
        <kp>10000.0</kp>  
        <kd>100.0</kd>   
        <ki>0.0</ki>    
    </gazebo>
    <gazebo reference="joint_5">
        <kp>10000.0</kp>  
        <kd>100.0</kd>   
        <ki>0.0</ki>    
    </gazebo>
    <gazebo reference="end_effector_joint">
        <kp>10000.0</kp>  
        <kd>100.0</kd>   
        <ki>0.0</ki>    
    </gazebo>
    
</robot>